<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:name=".utilities.AppInitializer"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MakeYourMorning"
        tools:targetApi="31">
        <activity
            android:name=".pages.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MakeYourMorning">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pages.day.NightOverlayActivity"
            android:exported="false"
            android:showOnLockScreen="false"
            android:turnScreenOn="true"
            android:parentActivityName=".pages.main.MainActivity"
            android:label="Night Overlay">
        </activity>

        <activity
            android:name=".pages.day.DayManagerActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:parentActivityName=".pages.main.MainActivity"
            android:label="Day Manager">
        </activity>

        <activity
            android:name=".pages.day.MorningOverlayActivity"
            android:exported="false"
            android:showOnLockScreen="false"
            android:turnScreenOn="true"
            android:parentActivityName=".pages.main.MainActivity"
            android:label="Morning Overlay">
        </activity>

        <receiver android:name=".utilities.alarm.AlarmReceiver" />
        <service
            android:name=".utilities.alarm.AlarmService"
            android:foregroundServiceType="mediaPlayback">
        </service>

        <service android:name=".utilities.accessibility.AppBlockAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessbility_service_config"/>
        </service>

    </application>

</manifest>